In [2]:
import pandas as pd

In [3]:
assinantes = pd.read_csv('newsletter_alucar.csv')
assinantes

           mes  assinantes
0   2017-01-31           0
1   2017-02-28          10
2   2017-03-31          21
3   2017-04-30          34
4   2017-05-31          49
5   2017-06-30          66
6   2017-07-31          85
7   2017-08-31         107
8   2017-09-30         132
9   2017-10-31         160
10  2017-11-30         190
11  2017-12-31         221
12  2018-01-31         252
13  2018-02-28         283
14  2018-03-31         313
15  2018-04-30         341
16  2018-05-31         367
17  2018-06-30         390
18  2018-07-31         410
19  2018-08-31         426
20  2018-09-30         437
21  2018-10-31         444
22  2018-11-30         449
23  2018-12-31         454

In [6]:
assinantes.dtypes

mes           object
assinantes     int64
dtype: object

In [8]:
assinantes['mes'] = pd.to_datetime(assinantes['mes'])
assinantes.dtypes

mes           datetime64[ns]
assinantes             int64
dtype: object